.Options{
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    margin-left: 25%;
    padding-top: 2%;
    flex-direction: column;
	transform: translate(-25%);
}

.item{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    color: white;
}

.spinner{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: grey;
    color: white;
}

.space{
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size:medium;
}

.filter
{
    left: 0%;
    margin-left: 70%;
	margin-top: 5px;
	margin-bottom: 1%;
}

@media (max-width:1000px){
	.filter
	{
		margin-left: 0%
	}
}
