.WeaponDpsInner{
    display: flex;
    border-radius: 5px;
    font-size: 15vw;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    color: white;
    width: 100%;
}

.WeaponDpsOuter{
    border: 1px solid white;
    display: flex;
    border-radius: 5px;
    margin: 8px;
    padding: 14px;
    font-size: 15vw;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    color: white;
}

.Name{
    margin: 20px;
    font-size: 2vw;
    position: absolute;
    color: black;
}

.dpsText {
	margin: 5px;
	margin-left: 80%;
    font-size: 2vw;
    position: absolute;
    color: black;
}

@media (max-width:1000px){
	.dpsText {
	  color: white;
	  margin-bottom: 5px;
	  position:static;
	  margin-left: 2%;
	  font-size: 15px;
	  margin-right: 10px;
	}

}




