.App {
  background-color: #000000;
  padding: 5px;
}

.logo{
  position: absolute;

}

.App-header {
  background-color: #03060a;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

@media (max-width:1500px){
	.logo {
	  visibility: hidden;
	}
}
